@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.error {
    color:crimson;
}

input {
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin: 3px;
    border-radius: 2px;
    border: 1px solid black;
}

button {
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: deepskyblue;
    border-radius: 2px;
    border: 1px solid black;
    width: 130px;
    margin: 3px;
}

button:hover {
    cursor: pointer;
    color: deepskyblue;
    background-color: white;
}

.center {
    margin: auto;
    text-align: center;
}