version: '3.6'
services:
###########################
  client:
      container_name: client
      image: ravid-client:latest
      restart: always
      ports:
          - "3000:3000"
      build:
          context: ./client
          dockerfile: ./Dockerfile
          args:
              APP: client
      environment:
          - BASE_USL=3000
      networks:
          - ravid-net
###########################
  server:
      container_name: server
      image: ravid-server:latest
      restart: always
      ports:
          - "5000:5000"
      build:
          context: ./servier
          dockerfile: ./Dockerfile
          args:
              APP: server
      environment:
          - BASE_PORT=5000
      networks:
          - ravid-net
###########################
networks:
    ravid-net:
