
version: '3.6'
services:
###########################
  client:
      container_name: client
      image: ravid-client:latest  // i would change the image names for something else without your name
      restart: always
      ports:
          - "3000:3000"
      build:
          context: ./client
          dockerfile: ./Dockerfile
          
      // why you give up on this? I would prefer to send the adress as an enviornment
      # environment:
      #     - REACT_APP_DOCKER_URL=http://localhost:5000 
      networks:
          - ravid-net
      expose:
        - 3000
###########################
  server:
      container_name: server
      image: ravid-server:latest
      restart: always
      ports:
          - "5000:5000"
      build:
          context: ./server
          dockerfile: ./Dockerfile
      # environment:
      #     - BASE_PORT=5000
      networks:
          - ravid-net
###########################
  nginx:
      container_name: nginx
      build:
          context: ./nginx
          dockerfile: ./Dockerfile
      restart: always
      ports:
          - 80:80
      networks:
          - ravid-net
###########################
networks:
    ravid-net: