version: '3.6'
services:
###########################
  client:
      container_name: client
      image: ravid-client:latest
      restart: always
      ports:
          - "3000:3000"
      build:
          context: ./client
          dockerfile: ./Dockerfile
      environment:
          - DOCKER_URL=http://server:5000
      networks:
          - ravid-net
###########################
  server:
      container_name: server
      image: ravid-server:latest
      restart: always
      ports:
          - "5000:5000"
      build:
          context: ./server
          dockerfile: ./Dockerfile
      environment:
          - BASE_PORT=5000
      networks:
          - ravid-net
      expose:
        - 5000
###########################
  nginx:
      container_name: nginx
      build:
          context: ./nginx
          dockerfile: ./Dockerfile
      restart: always
      ports:
          - 80:80
      networks:
          - ravid-net
###########################
networks:
    ravid-net:
